html,
body {
  height: 100vh;
}

body {
  min-width: 320px;
  background-color: var(--color-bg);
  font-family: 'TT Norms', sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --layout-width: 100%;
  --layout-padding: 5rem; // 80px
  --layout-v-padding: 3.75rem; // 60px

  @media (min-width: 768px) {
    --layout-width: 100%;
  }

  @media (min-width: 1140px) {
    --layout-width: 100%; // 992px
  }

  @media (min-width: 1440px) {
    --layout-width: 90rem; // 1440px
  }
}
